<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<!-- 
		Filter (필터)
		 : 원본 데이터를 변경하지 않고 원하는 계산이나 조건으로 인한 필터링된 데이터 표현
	 -->
	<div class="container">
		<h1>조건에 의한 필터링 (고양이별)</h1>
		<h3>카페의 요구</h3>
		<ul class="list-group">
			<li v-for="cat in catsBy('카페')" class="list-group-item">
				{{ cat.name }} said "{{ cat.speech }}"			
			</li>
		</ul>
		<h3>라떼의 요구</h3>
		<ul class="list-group">
			<li v-for="cat in catsBy('라떼')" class="list-group-item">
				{{ cat.name }} "{{ cat.speech }}"
			</li>
		</ul>
		<pre>{{ $data }}</pre>
	</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
	new Vue({
		el : '.container',
		data : {
			cats : [
				{
					speech : '산책 가자!',
					name : '카페'
				},
				{
					speech : '집사야 밥 좀 줘라~',
					name : '라떼'
				},
				{
					speech : '같이 놀자~',
					name : '카페'
				},
				{
					speech : '물 떨어졌다!',
					name : '라떼'
				}
			]
		},
		// 이름(name)에 따라 필터링하는 함수 정의
		methods : {
			catsBy : function(name) {
				return this.cats.filter(function(cat) {
					// 내가 가진 cats 배열을 순회하며, 익명 함수 호출!
					// 익명 함수의 인자 cat이 각각의 데이터(객체)를 받는다.
					// 전달된 인자와 데이터의 name이 일치하는 조건!					
					return cat.name === name;			
					
					// 원하는 조건을 부여하여 원본 데이터는 유지하되,
					// 원하는 결과만 추출할 수 있다.
				})
			}
		}
	})
</script>
</html>








